/* Body Styles */
body {
  font-family: "Lato", sans-serif;
  /* background-color: #f5f5f5; */
}

h1 {
  text-align: center;
  font-family: "Fredoka One";
  font-size: 24px;
  margin: 40px 0;
}

.section-container {
  margin: 40px 0;
}

/* Nav Styles */
nav {
  /* border-bottom: 1px solid #ccc; */
  background: white;
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 100;
  filter: drop-shadow(0 0 4px rgb(203, 203, 203));
}

nav img {
  height: 40px;
  width: auto;
}

.nav-links-container {
  display: inline-block;
  float: right;
  margin-top: 12px;
}

.nav-links-container > * {
  font-family: "Fredoka One";
  font-size: 16px;
  margin-left: 24px;
  color: black;
  text-decoration: none;
}

/* Footer Style */
footer {
  padding: 40px 24px;
  background: white;
  
}

/* Shopping Section Style */
.shopping-page-container {
  padding: 40px 24px;
  background: #f5f5f5;
  overflow: hidden;
}

.main-shopping-container {
  width: 100%;
  display: inline-block;
  float: left;
}

.shopping-page-container .shopping-grocery-list-container {
  width: 20%;
  display: inline-block;
  float: left;
}

.shopping-category-header {
  font-family: "Fredoka One";
  font-size: 32px;
  margin-bottom: 16px;
}

.shopping-item-button {
  background: white;
  width: 32%;
  margin-right: 1%;
  margin-bottom: 8px;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  filter: drop-shadow(0 0 4px rgb(223, 223, 223));
}

.shopping-category-container {
  margin-bottom: 40px;
}

.shopping-item-button:hover {
  background: #f5f5f5;
  transition: .3s;
}

.shopping-item-button-name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.stock-out {
  color: #aaa
}

.stock-green {
  color: green
}

.stock-red {
  color: red
}

.grocery-list-link {
  background: #FA7B4E;
  padding: 12px 18px;
  border-radius: 50px;
  display: inline-block;
  filter: drop-shadow(0 0 4px rgb(203, 203, 203));
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  position: absolute;
  top: 130px;
  right: 24px;
  z-index: 50;
}

.grocery-list-link img {
  height: 16px;
  width: auto;
  margin-right: 8px;
}

.search-form-container {
  margin-bottom: 40px;
}

.search-form-container input{
  width: 40%;
  margin-left: 8px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Grocery List Style */
.shopping-grocery-list-container {
  padding: 24px;
  background: #f5f5f5;
}

.checklist-container {
  margin-bottom: 16px;
  background: white;
  border-radius: 5px;
  width: calc(100% - 48px);
  padding: 32px 24px;
  filter: drop-shadow(0 0 4px rgb(223, 223, 223));
}

.checklist-item-checkbox {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  transform: scale(1.)
}

.checklist-item-info {
  display: inline-block;
  float: right;
  margin-top: -6px;
}

.checklist-delete-button {
  background: transparent;
  height: 28px;
  width: 25px;
  border: none;
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
}

.checklist-quantity-form {
  display: inline-block;
  width: 40px;
  height: 28px;
  margin-right: 30px;
}

.checklist-quantity-form input {
  width: 40px;
  height: 28px;
  text-align: center;
  font-family: 'Lato';
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.checklist-item-price {
  display: inline-block;
}