/* Body Styles */
body {
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Fredoka One";
  font-size: 24px;
  margin: 40px 0;
}

.section-container {
  margin: 40px 0;
}

/* Nav Styles */
nav {
  background: white;
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 100;
  filter: drop-shadow(0 0 4px rgb(203, 203, 203));
}

nav img {
  height: 40px;
  width: auto;
}

.nav-links-container {
  display: inline-block;
  float: right;
  margin-top: 12px;
}

.nav-links-container > * {
  font-family: "Fredoka One";
  font-size: 16px;
  margin-left: 24px;
  color: black;
  text-decoration: none;
}

.active-header {
  color: #FA7B4E;
}

/* Footer Style */
footer {
  padding: 40px 24px;
  background: white;
  filter: drop-shadow(0 0 4px rgb(203, 203, 203));
}

.footer-logo {
  margin-bottom: 24px;
  width: 120px;
  height: auto;
}

.footer-promo-img {
  width: 320px;
  height: auto;
  display: inline-block;
  margin-right: 40px
}

footer div {
  display: inline-block;
  padding-top: 16px;
  vertical-align: top;
  margin-right: 40px;
}

footer div:last-child {
  padding-top: 76px;
}

footer h4 {
  font-family: "Fredoka One";
  font-size: 16px;
  margin-bottom: 24px;
}

footer a {
  color: black;
  text-decoration: none;
}

.hours {
  margin-top: 24px;
}

/* Homepage Style */
.homepage-container img {
  height: 500px;
  display: inline-block;
  object-fit: cover
}

.homepage-container img:first-child {
  width: 40vw;
  overflow: hidden;
}

.homepage-container img:last-child {
  width: 60vw;
  overflow: hidden;
}

.homepage-logo {
  position: absolute;
  top: 270px;
  text-align: center;
  left: 35%;
  width: 30%;
}

.homepage-logo img {
  width: 100%
}

.homepage-link-container {
  padding: 40px 24px;
  text-align: center;
  font-family: "Fredoka One";
  font-size: 18px;
  border-bottom: 2px solid white;
  background: #FA7B4E;
}

.homepage-link-container a {
  text-decoration: none;
  color: white;
}

/* Shopping Section Style */
.shopping-page-container {
  background: #f5f5f5;
  overflow: hidden;
}

.shopping-page-header {
  background-image: url("http://www.cookbookla.com/images/CookbookMarketLA-EchoPark.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search-form-container {
  padding: 32px 24px;
  background: white
}

.search-form-container input{
  width: 40%;
  margin-left: 8px;
  border: none;
  outline: none;
}

.main-shopping-container {
  padding: 32px 24px;
  width: 100%;
  display: inline-block;
  float: left;
}

.shopping-page-container .shopping-grocery-list-container {
  width: 20%;
  display: inline-block;
  float: left;
}

.shopping-category-header {
  font-family: "Fredoka One";
  font-size: 32px;
  margin-bottom: 16px;
}

.shopping-item-button {
  background: white;
  margin-bottom: 8px;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  filter: drop-shadow(0 0 4px rgb(223, 223, 223));
}

.shopping-item-button-price {
  margin-bottom: 8px;
}

.shopping-category-container {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4;
  gap: 1%;
}

.shopping-category-container > * {
  flex: 0 1 31%;
}

.results-number {
  margin: 16px 0 40px;
}

.shopping-item-button:hover {
  background: #f5f5f5;
  transition: .3s;
}

.shopping-item-button-name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.stock-out {
  color: #aaa;
  cursor: not-allowed;
  pointer-events: none;
}

.stock-green {
  color: green
}

.stock-red {
  color: red
}

.grocery-list-link {
  background: #FA7B4E;
  padding: 12px 18px;
  border-radius: 50px;
  display: inline-block;
  filter: drop-shadow(0 0 4px rgb(203, 203, 203));
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 24px;
  z-index: 50;
}

.grocery-list-link img {
  height: 16px;
  width: auto;
  margin-right: 8px;
}

/* Grocery List Style */
.shopping-grocery-list-container {
  padding: 24px;
  background: #f5f5f5;
}

.checklist-container {
  margin-bottom: 16px;
  background: white;
  border-radius: 5px;
  width: calc(100% - 48px);
  padding: 32px 24px;
  filter: drop-shadow(0 0 4px rgb(223, 223, 223));
}

.checklist-item-checkbox {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  transform: scale(1.)
}

.checklist-item-info {
  display: inline-block;
  float: right;
  margin-top: -6px;
}

.checklist-delete-button {
  background: transparent;
  height: 28px;
  width: 25px;
  border: none;
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
}

.inventory-change-container {
  display: inline-block;
  margin-right: 16px;
}

.inventory-change-container > * {
  display: inline-block;
  margin-right: 8px;
}
.inventory-change-container p {
  width: 28px;
  text-align: center;
}

.inventory-button {
  border: none;
  font-size: 18px;
  color: #aaa;
  border-radius: 50px;
  height:18px;
  width: 18px;
  background: transparent;
  cursor: pointer;
}

.checklist-item-price {
  display: inline-block;
  width: 75px
}

.checklist-checked {
  text-decoration: line-through;
  background: #ccc;
}

.total-p {
  text-align: right;
  margin: 40px 0;
  padding-right: 56px;
  font-weight: 800;
  font-size: 18px;
}